html,
body
#__next {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.infoPopup h1 {
  font-size: 4rem;
}

.infoPopup p {
  font-size: 1.25rem;
}

#infoFrame {
  display: table;
  position: fixed;
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
  bottom: 0;
  left: 0;
}

.exportBtn { 
  width: 100% !important;
  padding: 1.5rem !important;
}

.mapboxgl-ctrl-group {
  margin: 1rem !important;
}